In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [18]:
df = pd.read_excel("../data/105658534675876658.xlsx")
df.iloc[:,range(244)].head()

,timestamp,level_0,kills_0,deaths_0,assists_0,totalGoldEarned_0,creepScore_0,killParticipation_0,championDamageShare_0,wardsPlaced_0,...,currentHealth_5,maxHealth_5,currentHealth_6,maxHealth_6,currentHealth_7,maxHealth_7,currentHealth_8,maxHealth_8,currentHealth_9,maxHealth_9
0,2021-06-13T00:39:58Z,1,0,0,0,0,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-06-13T00:40:03Z,1,0,0,0,0,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-06-13T00:40:14Z,1,0,0,0,0,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-06-13T00:40:20Z,1,0,0,0,500,0,0.0,0.0,0,...,660,660,575,575,560,560,530,530,606,606
4,2021-06-13T00:40:30Z,1,0,0,0,500,0,0.0,0.0,0,...,660,660,575,575,560,560,530,530,606,606

In [7]:
df.shape

(262, 306)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Columns: 306 entries, timestamp to championName_9
dtypes: float64(20), int64(202), object(84)
memory usage: 626.5+ KB

In [22]:
df[["blue_totalGold","blue_inhibitors","blue_towers","blue_barons","blue_totalKills","blue_dragons","red_totalGold","red_inhibitors","red_towers","red_barons","red_totalKills"]].describe()

,blue_totalGold,blue_inhibitors,blue_towers,blue_barons,blue_totalKills,red_totalGold,red_inhibitors,red_towers,red_barons,red_totalKills
count,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000
mean,34628.717557,0.072519,1.469466,0.061069,4.885496,36060.954198,0.202290,4.198473,0.698473,3.896947
std,21706.738795,0.259842,1.769533,0.239915,4.186534,21861.865734,0.402476,3.695124,0.809852,2.705336
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16199.750000,0.000000,0.000000,0.000000,3.000000,16786.750000,0.000000,0.000000,0.000000,2.000000
50%,33678.500000,0.000000,1.000000,0.000000,4.000000,35026.000000,0.000000,4.000000,0.000000,2.000000
75%,51986.750000,0.000000,3.000000,0.000000,7.000000,54773.750000,0.000000,8.000000,1.000000,6.000000
max,79080.000000,1.000000,8.000000,1.000000,19.000000,73255.000000,1.000000,9.000000,2.000000,11.000000